@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h1>Machine Details:</h1>
<h2>Machine Name: @Html.DisplayFor(model => model.MachineName)</h2>

@if(Model.Engineers.Count == 0)
{
  <h4>No engineers licensed to work on this machine yet.</h4>
  <h4>@Html.ActionLink("+ New Engineer", "Create", "Engineers")</h4>
  <h4>@Html.ActionLink("Authorize an engineer", "AddEngineer", "Machines", new { id = Model.MachineId })</h4>
  <h4>@Html.ActionLink("Delete Machine", "Delete", new { id = Model.MachineId })</h4>
}
else
{
  <h3>Engineers licensed to work on @Model.MachineName</h3>
  @foreach(var join in Model.Engineers)
  {
    <h3>@Html.ActionLink($"{join.Engineer.EngineerName}", "Details", "Engineers", new { id = join.Engineer.EngineerId })</h3>
    @using (Html.BeginForm("DeleteEngineer", "Machines"))
    {
      @Html.Hidden("joinId", @join.LicensesId)
      <input type="submit" value="Delete"/>
    }
  }
  <h4>@Html.ActionLink("Authorize another engineer", "AddEngineer", "Machines", new { id = Model.MachineId }) | @Html.ActionLink("Update Machine", "Edit", new { id = Model.MachineId }) | @Html.ActionLink("Delete Machine", "Delete", new { id = Model.MachineId })</h4>
}