@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h1>Engineer Details:</h1>
<h2>Name: @Html.DisplayFor(model => model.EngineerName)</h2>

@if(Model.Machines.Count == 0)
{
  <h4>Engineer currently is not licensed to work on any machines</h4>
  <h4>@Html.ActionLink("+ Machine", "Create", "Machines")</h4>
}
else
{
  <h3>Machines @Model.EngineerName is licensed for</h3>
  @foreach(var join in Model.Machines)
  {
    <h3>@Html.ActionLink($"{join.Machine.MachineName}", "Details", "Machines", new { id = join.Machine.MachineName })</h3>
  }

  @*
  <h4>@Html.ActionLink("+ another Machine", "AddMachine", new {id = Model.EngineerId}) 
  | @Html.ActionLink("Update Engineer", "Edit", new { id = Model.EngineerId}) 
  | @Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId}) </h4> 
  *@
}