@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h1>Engineer Details:</h1>
<h2>Name: @Html.DisplayFor(model => model.EngineerName)</h2>

@if(Model.Machines.Count == 0)
{
  <h4>Engineer currently is not licensed to work on any machines</h4>
  <h4>@Html.ActionLink("+ New Machine", "Create", "Machines")</h4>
  <h4>@Html.ActionLink("Authorize for machine", "AddMachine", "Engineers", new { id = Model.EngineerId })</h4>
  <h4>@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId})</h4>
}
else
{
  <h3>Machines @Model.EngineerName is licensed for</h3>
  @foreach(var join in Model.Machines)
  {
    <h3>@Html.ActionLink($"{join.Machine.MachineName}", "Details", "Machines", new { id = join.Machine.MachineId })</h3>
    @using (Html.BeginForm("DeleteMachine", "Engineers"))
    {
      @Html.Hidden("joinId", @join.LicensesId)
      <input type="submit" value="Delete"/>
    }
  }
  <h5>@Html.ActionLink("Authorize this engineer for a machine", "AddMachine", "Engineers", new { id = Model.EngineerId })</h5>
  <h4>@Html.ActionLink("+ another Machine", "AddMachine", new {id = Model.EngineerId}) | @Html.ActionLink("Update Engineer", "Edit", new { id = Model.EngineerId}) | @Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId}) </h4> 
}